<h1>New Game</h1>

<div class="letters">

  <% @alphabets.each do |letter|%>
    <div class="letter">
      <h2><%= letter %></h2>
    </div>
  <% end %>

</div>


<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="form-group">
    <input name="choice" type="hidden" value="<%= @alphabets.join() %>">
    <input type="text" class="form-control" autofocus="autofocus" name="answer" placeholder="what can you find from these letters">
  <input type="submit" value="answer" class="btn btn-success">
  </div>

</form>

